.messageSidebar:not(.userOnlineGroupMarking6 .messageSidebar) {
	text-align: left !important;
}

.messageAuthorBackground {
    border-radius: 6px 6px 0 0;
}

.messageSidebar:not(.demo-hueter, .demo-gelehrter, .demo-sensenmann) {
    .dataList {
        border-top: 0 !important;
        margin: -10px !important;
    }
    .messageAuthor+* {
        margin-top: 10px !important;
    }
}

@include screen-lg { 
    .messageGroupStarter .messageSidebar .plain.dataList::before {
        display: none !important;
    }

    .userOnlineGroupMarking4 .messageSidebar {
        border: 3px solid #d64434 !important;
        border-radius: 8px !important;
    }

    .userOnlineGroupMarking6 .messageSidebar {
        border: 2px solid #b26e25 !important;
        .userCredits {
            display: none;
        }
        
        .messageAuthorBackground {
            border-radius: 12px 12px 0 0 !important;
        }
    }

    .userOnlineGroupMarking9 .messageSidebar, .demo-hueter {
		border: 1px solid #3579be !important;
        border-bottom-width: 30px !important;
        border-radius: 8px !important; 
        &::after {
            bottom: -23px;
            content: "Hüter";
            height: 20px;
            left: 65%;
            position: absolute;
            transform: translateX(-50%);
            width: 102px;
            color: #fff;
            font-weight: bold;
        }
    }

    .userOnlineGroupMarking10 .messageSidebar {
        border-radius: 8px !important;
        border: 1px solid #27ae60 !important;
        border-bottom-width: 30px !important;
        &::after {
            font-weight: bold;
            bottom: -23px;
            content: "Gelehrter";
            height: 20px;
            left: 60%;
            position: absolute;
            transform: translateX(-50%);
            width: 102px;
            color: #fff;
         }   
    }

    .userOnlineGroupMarking11 .messageSidebar {
        border-radius: 8px;
        border: 1px solid #000 !important;
        border-bottom-width: 30px !important;
        &::after {
            content: 'Sensenmann';
            position: relative;
            bottom: -23px;
            height: 20px;
            left: 55%;
            position: absolute;
            transform: translateX(-50%);
            width: 102px;
            color: #fff;
            font-weight: bold;
        }
    }

    .userOnlineGroupMarking12 .messageSidebar {
        border: 2px solid #c4c4c4 !important;
    }
    
    .userOnlineGroupMarking17 .messageSidebar {
        border: 2px solid #6bbce4 !important;
    }
}

@include screen-md-down { 
    .userOnlineGroupMarking4 .messageSidebar, .userOnlineGroupMarking6 .messageSidebar, .userOnlineGroupMarking9 .messageSidebar, .userOnlineGroupMarking10 .messageSidebar, .userOnlineGroupMarking10 .messageSidebar, .userOnlineGroupMarking11, .userOnlineGroupMarking12 .messageSidebar, .userOnlineGroupMarking17 .messageSidebar {
        border-radius: 8px 8px 0 0 !important;

        .username, .messageAuthorContainer::before {
            color: #fff !important;
        }

        .userRank {
            display: none;
        }

        .userTitleBadge {
            color: #fff !important;
        }
    }

    .userOnlineGroupMarking4 .messageSidebar {
        background: #f20e0e !important;
    }

    .userOnlineGroupMarking6 .messageSidebar {
        background: #b26e25 !important;
    }

    .userOnlineGroupMarking9 .messageSidebar {
		background: #3579be !important;
    }

    .userOnlineGroupMarking10 .messageSidebar {
        background:#f20e0e !important;
    }

    .userOnlineGroupMarking11 .messageSidebar {
        background: #000 !important;
    }

    .userOnlineGroupMarking12 .messageSidebar {
        background: #c4c4c4 !important;
    }

    .userOnlineGroupMarking17 .messageSidebar {
        background: #6bbce4 !important;
    }
}

.demo-hueter {
    background: #fafafa !important;
    width: 210px !important;
    border: 1px solid #3579be !important;
    border-bottom-width: 30px !important;
	&::after {
		font-weight: bold;
        bottom: -23px;
        content: "Hüter";
        height: 20px;
        left: 60%;
        position: absolute;
        transform: translateX(-50%);
        width: 102px;
        color: #fff;
    }
    .plain.dataList::before {
        font-size: 17px;
        display: block;
        position: absolute;
        margin-top: -25px;
        background: #fafafa !important;
        width: 26px;
    }
}

.demo-gelehrter {
    background: #fafafa !important;
	width: 210px !important;
    border: 1px solid #27ae60 !important;
    border-bottom-width: 30px !important;
    .plain.dataList::before {
    	font-size: 17px;
    	display: block;
    	position: absolute;
   		margin-top: -25px;
		background: #fafafa !important;
		width: 26px;
	}
	&::after {
		font-weight: bold;
        bottom: -23px;
        content: "Gelehrter";
        height: 20px;
        left: 60%;
        position: absolute;
        transform: translateX(-50%);
        width: 102px;
        color: #fff;
    }   
}

.demo-sensenmann {
    border: 1px solid #000 !important;
    border-bottom-width: 30px !important;
    background: #fafafa !important;
    width: 210px !important;
    .plain.dataList::before {
    	font-size: 17px;
    	display: block;
    	position: absolute;
   		margin-top: -25px;
		background: #fafafa !important;
		width: 26px;
	}
    &::after {
		content: 'Sensenmann';
        position: relative;
        bottom: -23px;
        height: 20px;
        left: 55%;
        position: absolute;
        transform: translateX(-50%);
        width: 102px;
        color: #fff;
        font-weight: bold;
    }
}

.demo-hueter, .demo-gelehrter, .demo-sensenmann {
    border-radius: 8px !important; 
}