
// 1. Avatar - Der Herr der Elemente
.avatar-dhde {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/60/");
}

// 2. Alex Rider
.alex-rider {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/59/");
}

// 3. Barry
.barry {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/61/");
}

// 4. Breaking Bad
.breaking-bad {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/63/");
}

// 5. Brooklyn Nine Nine
.brooklyn-99 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/67/");
}

// 6. Chernobly
.chernobly {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/64/");
}

// 7. Chuck
.chuck {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/62/");
}

// 8. Criminal Minds: Beyond Borders
.criminal-minds_bb {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/66/");
}

// 9. Criminal Minds
.criminal-minds {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/65/");
}

// 10. Dan Browns The Lost Symbol
.dan-browns-tls {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/68/");
}

// 11. DARK
.dark {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/70/");
}

// 12. Dragonball
.db {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/75/");
}

// 13. Dragonball GT
.dbgt {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/72/");
}

// 14. Dragonball Z
.dbz {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/74/");
}

// 15. Demon Slayer: Kimetsu no Yaiba
.demon-slayer_serie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/73/");
}

// 16. Die großen Mythen
.dgm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/69/");
}

// 17. Drawn Together
.drawn-together {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/76/");
}

// 18. Fairy Tail
.fairy-tail {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/77/");
}

// 19. Game of Thrones
.got {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/78/");
}

// 20. Greys Anothomy
.greys-anothomy {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/81/");
}

// 21. House
.house {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/79/");
}

// 21. House of the Dragons
.house-of-the-dragons {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/82/");
}

// 23. Law & Order: Criminal Intent
.luo-ci {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/80/");
}

// 24. Law & Order: Organized Crimes
.luo-oc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/83/");
}

// 25. Law & Order: Special Victims Unit
.luo-svu {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/84/");
}

// 26. Lie to Me
.ltm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/85/");
}

// 27. Loki
.loki {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/86/");
}

// 28. Lucifer
.lucifer {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/88/");
}

// 29. Naruto
.naruto {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/87/");
}

// 30. NCIS
.ncis {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/90/");
}

// 31. One Piece (1999)
.one-piece_anime {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/89/");
}

// 32. One Piece (2023)
.one-piece_serie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/91/");
}

// 33. Person of Interest
.person-of-interest {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/92/");
}

// 34. Pokemon
.pokemon {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/93/");
}

// 35. Prison Break
.prison-break {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/94/");
}

// 36. Resident Alien
.resisdent-alien {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/95/");
}

// 37. Shamless - Nicht ganz nüchtern
.shamless {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/98/");
}

// 38. Sherlock
.sherlock {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/96/");
}

// 39. Shrinking
.shrinking {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/101/");
}

// 40. Silo
.silo {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/99/");
}

// 41. Supernatural
.supernatural {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/97/");
}

// 42. Tom Clany´s Jack Ryan
.tc_jack-ryan {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/112/");
}

// 43. The Boys
.the-mentalist {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/100/");
}

// 44. The Mentalist
.the-mentalist {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/103/");
}

// 45. The Rookie
.the-rookie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/106/");
}

// 46. The Rookie: Feds
.the-rookie-feds {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/105/");
}

// 47. The Last of Us
.tlou {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/104/");
}

// 48. The Walking Dead
.twd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/109/");
}

// 49. The Walking Dead: Daryl Dixon
.twd_dd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/71/");
}

// 50. The Walking Dead: Dead City
.twd_dc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/107/");
}

// 51. The Walking Dead: The One Who Lives
.twd_towl {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/108/");
}

// 52. The Winchesters
.the-flash {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/102/");
}

// 53. The Winchesters
.the-winchesters {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/110/");
}

// 54. The Witcher
.the-witcher {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/111/");
}

// 55. Timeless
.timeless {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/113/");
}