
// Avatar - Der Herr der Elemente
.avatar-dhde {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/480/");
}

// Alex Rider
.alex-rider {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/479/");
}

// Barry
.barry {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/425/");
}

// Breaking Bad
.breaking-bad {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/428/");
}

// Brooklyn Nine Nine
.brooklyn-99 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/438/");
}

// Chernobly
.chernobly {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/435/");
}

// Criminal Minds: Beyond Borders
.criminal-minds_bb {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/436/");
}

// Criminal Minds
.criminal-minds {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/426/");
}

// Dan Browns The Lost Symbol
.dan-browns-tls {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/456/");
}

// DARK
.dark {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/448/");
}

// Dragonball
.db {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/427/");
}

// Dragonball GT
.dbgt {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/434/");
}

// Dragonball Z
.dbz {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/429/");
}

// Demon Slayer: Kimetsu no Yaiba
.demon-slayer_serie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/472/");
}

// Die großen Mythen
.dgm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/469/");
}

// Drawn Together
.drawn-together {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/468/");
}

// Fairy Tail
.fairy-tail {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/467/");
}

// Game of Thrones
.got {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/433/");
}

// Greys Anothomy
.greys-anothomy {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/473/");
}

// House
.house {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/437/");
}

// Law & Order: Criminal Intent
.luo-ci {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/432/");
}

// Law & Order: Organized Crimes
.luo-oc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/460/");
}

// Law & Order: Special Victims Unit
.luo-svu {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/445/");
}

// Lie to Me
.ltm {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/443/");
}

// Loki
.loki {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/446/");
}

// Lucifer
.lucifer {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/451/");
}

// Naruto
.naruto {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/471/");
}

// NCIS
.ncis {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/457/");
}

// One Piece (1999)
.one-piece_anime {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/430/");
}

// One Piece (2023)
.one-piece_serie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/441/");
}

// Pokemon
.pokemon {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/470/");
}

// Prison Break
.prison-break {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/440/");
}

// Resident Alien
.resisdent-alien {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/452/");
}

// Shamless - Nicht ganz nüchtern
.shamless {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/458/");
}

// Sherlock
.sherlock {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/444/");
}

// Shrinking
.shrinking {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/455/");
}

// Silo
.silo {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/453/");
}

// Supernatural
.supernatural {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/431/");
}

// Tom Clany´s Jack Ryan
.tc_jack-ryan {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/481/");
}

// The Mentalist
.the-mentalist {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/439/");
}

// The Rookie
.the-rookie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/449/");
}

// The Rookie: Feds
.the-rookie-feds {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/485/");
}

// The Last of Us
.tlou {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/447/");
}

// The Walking Dead
.twd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/461/");
}

// The Walking Dead: Daryl Dixon
.twd_dd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/442/");
}

// The Walking Dead: Dead City
.twd_dc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/462/");
}

// The Walking Dead: The One Who Lives
.twd_towl {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/450/");
}

// The Winchesters
.the-winchesters {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/486/");
}

// The Witcher
.the-witcher {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/454/");
}

// Timeless
.timeless {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/459/");
}