// 1917
.neunzehn {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/408/");
}

// A Million Ways to die in the West
.amwtditw {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/398/");
}

// Aquaman
.am {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/488/");
}

// Aquaman: The Lost Kingdom
.am-tlk {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/403/");
}

// Auris - Der Fall Hegel
.auris_dfh {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/390/");
}

// Auris - Frequenz des Todes
.auris_fdt {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/389/");
}

// Barbie
.barbie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/391/");
}

// Blade
.blade {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/424/");
}

// Blade II
.blade2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/422/");
}

// Blade Trinity
.blade3 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/423/");
}

// Bruce Allmächtig
.bruce {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/392/");
}

// Bullyparade - Der Film
.bullyparade {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/399/");
}

// Catch me if you can
.cmiyc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/482/");
}

// Contra
.contra {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/395/");
}

// Demon Slayer: Kimetsu no Yaiba
.demon-slayer_film-1 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/478/");
}

// Der Nachname
.der-nachname {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/487/");
}

// Dune
.dune {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/466/");
}

// Dune Part Two
.dune2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/465/");
}

// El Camino
.el-camino {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/407/");
}

// The Fast and the Furious
.fuf1 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/413/");
}

// 2 Fast 2 Furious
.fuf2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/414/");
}

// The Fast and the Furious: Tokyo Drift
.fuf3 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/415/");
}

// The Fast & Furious: Neues Modell. Originalteile
.fuf4 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/411/");
}

// Fast & Furious 5
.fuf5 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/417/");
}

// Fast & Furious 6
.fuf6 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/419/");
}

// Fast & Furious 7
.fuf7 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/412/");
}

// Fast & Furious 8
.fuf8 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/421/");
}

// Fast & Furious: Hobbs & Shaw 
.fuf_hus {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/418/");
}

// Fast & Furious 9
.fuf9 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/416/");
}

// Fast & Furious 10
.fuf10 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/420/");
}

// Ghost Rider
.gr {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/410/");
}

// Ghost Rider 2
.gr2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/409/");
}

// Kingsman - The Golden Circle
.kingsman_tgc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/463/");
}

// Kingsman - The Secret Service
.kingsman_tss {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/464/");
}

// Lucky Number Slevin
.lns {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/401/");
}

// Magic Mike
.magic-mike {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/475/");
}

// Magic Mike XXL
.magic-mike-xxl {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/476/");
}

// Magic Mike´s The Last Dance
.magic-mike-tld {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/477/");
}

// Ohne Limit
.ohne-limit {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/474/");
}

// Oppenheimer
.oppenheimer {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/404/");
}

// Perfect Days
.perfect-days {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/483/");
}

// The Founder
.the-founder {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/406/");
}

// The Gangster, The Cop, The Devil
.the-gcd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/393/");
}

// The Guest
.the-guest {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/402/");
}

// The Social Network
.the-social-network {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/405/");
}

// The Terminal
.the-terminal {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/394/");
}

// Up in the Air
.uita {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/396/");
}

// Who Am I
.who-am-i {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/400/");
}

// Wild Tales
.wild-tales {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/397/");
}

// Wonka
.wonka {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/484/");
}