// 1. 1917
.neunzehn {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/4/");
}

// 2. A Million Ways to die in the West
.amwtditw {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/5/");
}

// 3. Aquaman
.am {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/35/");
}

// 4. Aquaman: The Lost Kingdom
.am-tlk {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/34/");
}

// 5. Auris - Der Fall Hegel
.auris_dfh {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/7/");
}

// 6. Auris - Frequenz des Todes
.auris_fdt {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/8/");
}

// 7. Barbie
.barbie {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/6/");
}

// 8. Blade
.blade {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/38/");
}

// 9. Blade II
.blade2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/36/");
}

// 10. Blade Trinity
.blade3 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/37/");
}

// 11. Bruce Allmächtig
.bruce {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/9/");
}

// 12. Bullyparade - Der Film
.bullyparade {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/12/");
}

// 13. Catch me if you can
.cmiyc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/10/");
}

// 14. Contra
.contra {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/11/");
}

// 15. Die Truman Show
.tm-show {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/15/");
}

// 16. Demon Slayer: Kimetsu no Yaiba
.demon-slayer_film-1 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/13/");
}

// 17. Der Nachname
.der-nachname {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/14/");
}

// 18. Dune
.dune {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/40/");
}

// 19. Dune Part Two
.dune2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/39/");
}

// 20. El Camino
.el-camino {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/16/");
}

// 21. The Fast and the Furious
.fuf1 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/42/");
}

// 22. 2 Fast 2 Furious
.fuf2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/43/");
}

// 23. The Fast and the Furious: Tokyo Drift
.fuf3 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/47/");
}

// 24. The Fast & Furious: Neues Modell. Originalteile
.fuf4 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/41/");
}

// 25. Fast & Furious 5
.fuf5 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/46/");
}

// 26. Fast & Furious 6
.fuf6 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/44/");
}

// 27. Fast & Furious 7
.fuf7 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/47/");
}

// 28. Fast & Furious 8
.fuf8 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/49/");
}

// 29. Fast & Furious: Hobbs & Shaw 
.fuf_hus {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/50/");
}

// 30. Fast & Furious 9
.fuf9 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/48/");
}

// 31. Fast & Furious 10
.fuf10 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/51/");
}

// 32. Ghost Rider
.gr {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/53/");
}

// 33. Ghost Rider 2
.gr2 {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/52/");
}

// 34. Homefront
.homefront {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/17/");
}

// 35. Homefront
.inglourious {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/19/");
}

// 36. Kingsman - The Golden Circle
.kingsman_tgc {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/54/");
}

// 37. Kingsman - The Secret Service
.kingsman_tss {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/55/");
}

// 38. Lucky Number Slevin
.lns {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/18/");
}

// 39. Magic Mike
.magic-mike {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/58/");
}

// 40. Magic Mike XXL
.magic-mike-xxl {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/57/");
}

// 41. Magic Mike´s The Last Dance
.magic-mike-tld {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/56/");
}

// 42. Morgen, Ihr Luschen!
.magic-mike-tld {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/20/");
}

// 43. Nobody
.nobody {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/25/");
}

// 44. Ohne Limit
.ohne-limit {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/21/");
}

// 45. Oppenheimer
.oppenheimer {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/26/");
}

// 46. Perfect Days
.perfect-days {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/24/");
}

// 47. The Founder
.the-founder {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/29/");
}

// 48. The Gangster, The Cop, The Devil
.the-gcd {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/22/");
}

// 49. The Guest
.the-guest {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/23/");
}

// 50. The Social Network
.the-social-network {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/30/");
}

// 51. The Terminal
.the-terminal {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/27/");
}

// 52. Up in the Air
.uita {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/28/");
}

// 53. Who Am I
.who-am-i {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/31/");
}

// 54. Wild Tales
.wild-tales {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/32/");
}

// 55. Wonka
.wonka {
	background-repeat: round;
	background-image: url("https://mediencenter.gentlemantis.de/media/33/");
}